# Heroes of Pymoli Homework

## Option 1: Heroes of Pymoli

![Fantasy](Images/Fantasy.png)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [292]:
# Dependencies imports
import pandas as pd

In [293]:
# Checking csv for successfull read
csv_path = 'Resources/purchase_data.csv'
purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

* Total Number of Players

In [44]:
# Number of players
number_of_players = len(purchase_data['SN'].value_counts())
number_of_players

576

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [19]:
# Number of unique items
number_of_unique_items = len(purchase_data['Item Name'].unique())
number_of_unique_items

179

In [144]:
# Average purchase price
avg_price = round(purchase_data['Price'].mean(),2)
avg_price

3.05

In [21]:
# Total number of purchases
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [22]:
# Total revenue 
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [98]:
# Percentage and Count of Male Players
male_players = len(purchase_data.loc[purchase_data['Gender'] == 'Male']['SN'].value_counts())
male_players

484

In [99]:
male_pct = round((male_player/number_of_players)*100, 2)
male_pct

84.03

In [100]:
# Percentage and Count of Female Players
female_players = len(purchase_data.loc[purchase_data['Gender'] == 'Female']['SN'].value_counts())
female_players

81

In [101]:
female_pct = round((female_player/number_of_players)*100, 2)
female_pct

14.06

In [102]:
# Percentage and Count of Other/Non-Disclosed
other_players = len(purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']['SN'].value_counts())
other_players

11

In [103]:
other_pct = round((other_players/number_of_players)*100, 2)
other_pct

1.91

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [113]:
# New male purchase data frame
male_purchase_data = purchase_data.loc[purchase_data['Gender'] == 'Male']
male_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [114]:
# Male purchase count
male_purchase = len(male_purchase_data)
male_purchase

652

In [115]:
# Average male purchase price
male_mean_price = round(male_purchase_data['Price'].mean(),2)
male_mean_price

3.02

In [116]:
# Total male purchase 
male_total_purchase = round(male_purchase_data['Price'].sum(),2)
male_total_purchase

1967.64

In [124]:
# Average purchase total per person by males
male_avg_purchase = round(male_total_purchase/male_players,2)
male_avg_purchase

4.07

In [125]:
# New female purchase data frame
female_purchase_data = purchase_data.loc[purchase_data['Gender'] == 'Female']
female_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [126]:
# Female purchase count
female_purchase = len(female_purchase_data)
female_purchase

113

In [128]:
# Average female purchase price
female_mean_price = round(female_purchase_data['Price'].mean(),2)
female_mean_price

3.2

In [129]:
# Total female purchase 
female_total_purchase = round(female_purchase_data['Price'].sum(),2)
female_total_purchase

361.94

In [130]:
# Average purchase total per person by females
female_avg_purchase = round(female_total_purchase/female_players,2)
female_avg_purchase

4.47

In [134]:
# New other/non-disclosed data frame
other_purchase_data = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']
other_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [135]:
# Other purchase count
other_purchase = len(other_purchase_data)
other_purchase

15

In [137]:
# Average other purchase price
other_mean_price = round(other_purchase_data['Price'].mean(),2)
other_mean_price

3.35

In [138]:
# Total other purchase
other_total_purchase = round(other_purchase_data['Price'].sum(),2)
other_total_purchase

50.19

In [139]:
# Average purchase total per person by others
other_avg_purchase = round(other_total_purchase/other_players,2)
other_avg_purchase

4.56

### Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [424]:
# Get min and max age value
purchase_data['Age'].max()

45

In [425]:
purchase_data['Age'].min()

7

In [426]:
age_bins = [0,9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(purchase_data['Age'], age_bins, include_lowest=False, duplicates='drop')

0      (19, 24]
1      (39, 45]
2      (19, 24]
3      (19, 24]
4      (19, 24]
         ...
775    (19, 24]
776    (19, 24]
777    (19, 24]
778      (0, 9]
779    (19, 24]
Name: Age, Length: 780, dtype: category
Categories (8, interval[int64]): [(0, 9] < (9, 14] < (14, 19] < (19, 24] < (24, 29] < (29, 34] < (34, 39] < (39, 45]]

In [445]:
new_purchase_data = purchase_data
new_purchase_data['Age Range'] = pd.cut(purchase_data['Age'], age_bins, labels=age_labels, include_lowest=False, duplicates='drop')
new_purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [462]:
age_range = new_purchase_data.groupby(['Age Range'])
age_range = age_range.agg({ 'SN': 'nunique' })
age_range = age_range.reset_index()

total_df = pd.DataFrame(age_range)
total_df = df.rename(columns={
    'SN': 'Total Count'
})
total_df

  Age Range  Total Count
0       <10           17
1     10-14           22
2     15-19          107
3     20-24          258
4     25-29           77
5     30-34           52
6     35-39           31
7       40+           12

In [450]:
pct_players_df = pd.DataFrame(age_range)
pct_players_df = pct_players_df.rename(columns={
    'SN': 'Percentage of Players'
})
pct_players_df['Percentage of Players'] = round((pct_players_df['Percentage of Players']/number_of_players)*100,2)
pct_players_df['Percentage of Players'] = pct_players_df['Percentage of Players'].map('{:.2f}%'.format)
pct_players_df

  Age Range Percentage of Players
0       <10                 2.95%
1     10-14                 3.82%
2     15-19                18.58%
3     20-24                44.79%
4     25-29                13.37%
5     30-34                 9.03%
6     35-39                 5.38%
7       40+                 2.08%

In [452]:
pd.merge(total_df, pct_players_df, on='Age Range').set_index('Age Range')

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

### Purchasing Analysis (Age)

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

In [489]:
age_bins = [0,9, 14, 19, 24, 29, 34, 39, 45]
age_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
pd.cut(purchase_data['Age'], age_bins, include_lowest=False, duplicates='drop')
new_purchase_data = purchase_data
new_purchase_data['Age Range'] = pd.cut(purchase_data['Age'], age_bins, labels=age_labels, include_lowest=False, duplicates='drop')
new_purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [520]:
age_range = new_purchase_data.groupby(['Age Range'])
age_range = age_range.agg({
    'Purchase ID': ['count'],
    'Price': ['mean', 'sum'],
    'SN': 'nunique'
})
age_range.columns = age_range.columns.droplevel(0)
age_range
age_demo_df = pd.DataFrame(age_range)
age_demo_df = age_demo_df.rename(columns={
    'count':'Purchase Count',
    'mean': 'Average Purchase Price',
    'sum': 'Total Purchase Value',
    'nunique': 'AVG Total per Person By Age'
})
age_demo_df['AVG Total per Person By Age'] = age_demo_df.apply(lambda row: row['Total Purchase Value']/row['AVG Total per Person By Age'], axis=1)
age_demo_df['Average Purchase Price'] = age_demo_df['Average Purchase Price'].map('${:.2f}'.format)
age_demo_df['Total Purchase Value'] = age_demo_df['Total Purchase Value'].map('${:.2f}'.format)
age_demo_df['AVG Total per Person By Age'] = age_demo_df['AVG Total per Person By Age'].map('${:.2f}'.format)
age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,AVG Total per Person By Age
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19